* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e4e4e4;
    
}

body > header {
    background-color: #007575;
    margin-bottom: 8px;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 16px 0px;
}

header h1 {
    font-size: 40px;
    background-color: #007575;
    color: #e4e4e4;
    padding: 8px 0;
    font-family: "Anton SC", serif;
    font-weight: 100;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 55%;
}

.articles article h2 {
    font-family: "Anton SC", serif;
    font-weight: 100;
    font-size: 28px;
    margin-bottom: 16px;
}

.articles article h3 {
    text-align: justify;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;
}

.articles img {
    width: 40%;
    margin-bottom: 16px;
}

#analise {
    width: 100%;
}

#analise h3 {
    text-align: justify;
}

footer {
    width: 1366px;
    margin: 0 auto;
    padding: 24px 24px;
}

footer a {
    background-color: #007575;
    color: #e4e4e4;
    padding: 8px;
    text-decoration: none;
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}